<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <h1>Login</h1>
    <ul>
      <% if(messages.success_msg){ %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <ul>
      <% if(messages.error){ %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>
    <form action="/users/login" method="POST">
      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div>
        <input type="submit" value="Login" />
      </div>
      <a href="/users/register">Register</a>
    </form>
    <style>
      /* login.css */

      body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
        text-align: center;
      }

      h1 {
        margin-top: 40px;
      }

      form {
        max-width: 300px;
        margin: 40px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      input[type="submit"] {
        background-color: #4caf50;
        color: #fff;
        padding: 2px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      a {
        color: #555;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </body>
</html>
